<section id="first-view">
  <p>(11) 97616-7656</p>
</section>
<header>
  <a href="/"><img src="./assets/logo.svg" alt="Logo do RMAluminio"></a>

  <nav>
    <button id="menu-mobile">MENU <div id="mobile-icon"></div></button>

    <ul>
      <li><a href="#servicos" class="header-button">Serviços</a></li>
      <li><a href="#sobre" class="header-button">Sobre</a></li>
      <li><a href="#contato" class="header-button last">Contato</a></li>
      <li><a href="#contato" class="orcamento laranja">ORÇAMENTO</a></li>
    </ul>
  </nav>
</header>