footer {
  background-color: #000;

  color: #DCE8FF;
  text-align: center;

  padding: 1.875rem calc((100vw - 320px) / 2);

  p {
    margin-bottom: .75rem;
  }
}

//Versão de computador
@media screen and (min-width: 1000px) {
  footer {
    padding: 2.5rem calc((100vw - 300px) / 2);
  
    p {
      margin-bottom: 1rem;
    }
  }
}