<section id="contato">
  <div>
    <h2>CONTATO</h2>
    <p class="lembrete">Entre em contato conosco para fazer <br> seu orçamento ↓</p>

    <ul class="redes-sociais">
      <li>
        <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5511976167656" target="_blank"><img src="./assets/whatsapp.svg" alt="clique para ter acesso ao nosso whatsapp"></a>
      </li>
      <li>
        <a href="https://www.instagram.com/rmaluminio/" target="_blank"><img src="./assets/instagram.svg" alt="clique para ter acesso ao nosso instagram"></a>
      </li>
      <li>
        <a href="https://www.google.com.br/maps/place/RM+Alum%C3%ADnio/@-23.7183596,-46.5849782,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce43e320a4cf31:0xcf8f3945a5d1e03d!8m2!3d-23.7183645!4d-46.5827841!16s%2Fg%2F12hsltypy"><img src="./assets/maps.svg" alt="clique para ter acesso a nossa localização"></a>
      </li>
    </ul>
  </div>

  <ul id="info">
    <li id="whatsapp">
      <h3>Whatsapp</h3>
      <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5511976167656" target="_blank">(11) 97616-7656</a>
    </li>

    <li id="instagram">
      <h3>Instagram</h3>
      <a href="https://www.instagram.com/rmaluminio/" target="_blank">@rmaluminio</a>
    </li>

    <li id="email">
      <h3>Email</h3>
      <p>rm.portoesdealuminio@gmail.com</p>
    </li>

    <li id="endereco">
      <h3>Endereço</h3>
      <ul id="endereco-lista">
        <li>
          <p>
            Av. Humberto de Alencar Castelo Branco
          </p>
        </li>
        <li>
          <p>
            n° 3273
          </p>
        </li>
        <li>
          <p>
            cep: 09850-305
          </p>
        </li>
        <li>
          <p>
            São Bernardo do Campo - SP
          </p>
        </li>
      </ul>
    </li>

    <li id="horarios">
      <h3>Horários</h3>
      <ul>
        <li>
          <p>Segunda a Quinta:<br><br>08:00 - 18:00</p>
        </li>
        <li>
          <p>Sexta-feira:<br><br>08:00 - 17:00</p>
        </li>
      </ul>
    </li>
  </ul>

  <a href="https://www.google.com.br/maps/place/RM+Alum%C3%ADnio/@-23.7183596,-46.5849782,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce43e320a4cf31:0xcf8f3945a5d1e03d!8m2!3d-23.7183645!4d-46.5827841!16s%2Fg%2F12hsltypy" target="_blank" class="mapa-link">
    <img src="./assets/localizacao.jpg" alt="mapa da nossa localização">
  </a>
</section>