<section id="sobre">
  <div id="sobre-container">
    <h2>SOBRE</h2>
    <ul id="lista-sobre">
      <li>
        <img src="/assets/anos.svg" alt="ha mais de 22 anos">
        <p>Há mais de 22 anos</p>
      </li>
      <li>
        <div class="space"></div>
      </li>
      <li>
        <img src="/assets/local.svg" alt="localizado no Grande ABC">
        <p>Localizado no Grande ABC</p>
      </li>
      <li>
        <div class="space"></div>
      </li>
      <li>
        <img src="/assets/qualidade.svg" alt="qualidade maxima">
        <p>Qualidade máxima</p>
      </li>
      <li>
        <div class="space"></div>
      </li>
      <li>
        <img src="/assets/garantia.svg" alt="garantia de 12 meses">
        <p>Garantia de 12 meses</p>
      </li>
    </ul>
  </div>

  <div class="a">
    <a href="#contato" class="orcamento">ORÇAMENTO</a>
  </div>
</section>