<section id="servicos">
  <h2>PORTÕES</h2>

  <div class="scroll-container">
    <div>
      <img src="/assets/portao-1.jpg" alt="portão branco feito por nós">
    </div>
    <div>
      <img src="/assets/portao-2.jpg" alt="portão preto feito por nós">
    </div>
    <div>
      <img src="/assets/portao-4.jpg" alt="portão branco feito por nós">
    </div>
    <div>
      <img src="/assets/portao-3.jpg" alt="portão preto feito por nós">
    </div>
  </div>

  <a href="https://www.instagram.com/rmaluminio/" class="instagram-produtos" target="_blank">
    <img src="/assets/instagram-quadrado.svg" alt="Instagram logo">
    <p>@rmaluminio</p>
  </a>
  <a href="https://www.instagram.com/rmaluminio/" target="_blank" class="ver-mais">
    <p>VER MAIS</p>
    <img src="/assets/seta.svg" alt="seta ir para o instagram">
  </a>
</section>
<section id="mais-produtos">
  <h2>CORRIMÂO, PORTAS & VIDRO TEMPERADO</h2>

  <div class="scroll-container">
    <div>
      <img src="/assets/corrimao-1.jpg" alt="corrimão feito por nós">
    </div>
    <div>
      <img src="/assets/porta-1.jpg" alt="porta de aluminio feito por nós">
    </div>
    <div>
      <img src="/assets/vidro-2.jpg" alt="vidro de varanda feito por nós">
    </div>
    <div>
      <img src="/assets/vidro-1.jpg" alt="vidro de varanda feito por nós">
    </div>
  </div>

  <a href="https://www.instagram.com/rmaluminio/" class="instagram-produtos" target="_blank">
    <img src="/assets/instagram-quadrado.svg" alt="Instagram logo">
    <p>@rmaluminio</p>
  </a>
  <a href="https://www.instagram.com/rmaluminio/" target="_blank" class="ver-mais">
    <p>VER MAIS</p>
    <img src="/assets/seta.svg" alt="seta ir para o instagram">
  </a>
</section>